<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear contacto</title>
    <link rel="stylesheet" href="/contact.css">
</head>
<body>

<h1>Crear contacto</h1>

<form th:action="@{/contact/new}" method="post" th:object="${NuevoContacto}">
    <label for="estudianteNombre" >Estudiante:
        <select id="estudianteNombre" name="estudianteNombre">
            <option th:each="estudiante : ${todosLosEstudiantes}" th:value="${estudiante.id}" th:text="${estudiante.first_name + ' ' + estudiante.last_name}"></option>
        </select>
    </label>
    <label>Direccion:
        <input type="text" name="address" th:field="*{address}" >
    </label>
    <label>Ciudad:
        <input type="text" name="city" th:field="*{city}">
    </label>
    <label>Estado:
        <input type="text" name="state" th:field="*{state}">
    </label>
    <button type="submit">Crear</button>
</form>

</body>
</html>